<body
	<p id="notice""><%= flash[:notice] %></p>
	<div class="authenticationRetry">	
		<% if !session[:id] %>
			<fieldset>
				<legend> Connexion </legend>
				<%=form_tag login_path do%>
					Login :  <input type="text" id="login" name="login" /><br>
					<p>Password : <input type="password" id="password" name="password" /></p>
					<%= submit_tag "Connexion" %>
				<% end %>
			</fieldset>
		<% end %>
	</div>
	<div class="actions">
		<%= button_to "Page d\'accueil", posts_path, :method => "get" %>
	</div>	
</body>
