<!-- L'utilisation des div permettra une mise en page simplifiée via CSS -->
<body>
	<div class="title">
		Affichage des utilisateurs
	</div>

	<div class="actions">
		<%= button_to "Page d\'accueil", posts_path, :method => "get" %>
	</div>



<!-- Commentaire -->
</body>  
