<body>
	<div class="title">
		Creation d'un utilisateur
	</div>
	
	<div class="actions">
		<%= button_to "Page d\'accueil", posts_path, :method => "get" %>
	</div>    
	
<div class="reading">
	<p><form action="/people" method="POST">
		<fieldset>
		<legend> Informations utilisateurs : renseignez tous les champs</legend>
			<div class ="field">
			 	Nom :
			 	<input type="text" id="name" name="name" cols="20" />
			 </div>
			<div class ="field">
				<p>
			 		Prenom :
			 		<input type="text" id="firstname" name="firstname" cols="20" />
				</p>
			 </div>
			<div class ="field">
			 	<p>
			 		Password :
			 		<input type="password" id="password" name="password" cols="20" />
			 	</p>
			 </div>
			<div class ="field">
			 	<p>
			 		Login/Pseudo :
			 		<input type="text" id="login" name="login" cols="20" />
			 	</p>
			 </div>			 			 
			<div class ="actions">
				<input type="submit" name="ValidateUser" value="Creer utilisateur"<br></td>
			</div>
		</fieldset>
	</form></p>
</div>

<!-- Commentaire -->
</body>
