<% if !session[:id] %>
	<fieldset>
		<legend> Connexion </legend>
		<%=form_tag login_path do%>
			Login :  <input type="text" id="login" name="login" cols="15" /><br>
			<p>Password : <input type="password" id="password" name="password" cols="15" /></p>
			<%= submit_tag "Connexion", :remote => true %>
		<% end %>
	</fieldset>
<% end %>


