<!-- L'utilisation des div permettra une mise en page simplifiée via CSS -->
<div class="authentication">
	<%= render "logout" %>
	<p><% if session[:id] %>
		<%= session[:login] %> logged
	<% end %>	</p>	
	&nbsp<p></p>	
</div>
<body>
	<div class="title">
		Creation d'un nouveau Post
	</div>

	<div class="actions">
		<%= button_to "Page d\'accueil", posts_path, :method => "get" %>
	</div>

	<div class="reading">
		<form action="/posts" method="POST">
		 	<p>Titre : <input type="text" id="title" name="title" cols="20" /></p>
			<p>Message : <textarea name="body" id="body" rows="10" cols="35" ></textarea></p>
			<% if session[:id] %>
				<q>by <%= session[:login] %> [User]</q>
			<% end %>					
			<div class ="actions">
				<input type="submit" name="ValidatePost" value="Valider"<br></td>			
			</div>		
		</form>
	</div>



<!-- Commentaire -->
</body>

